:root {
  --poleSzerokoscOrazWysokosc: 100px;
}

.unFocused {
  opacity: 50%;
}

.obroc {
  transform: rotate(180deg);
  transform-origin: center center;
}

.poleSzachownicy, .polaPromocji div {
  position: relative;
  width: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
  height: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
  padding: 3px;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zdjecieFigura {
  height: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
  z-index: 1;
}

.bialePole {
  background-color: gray;
}

.czarnePole {
  background-color: wheat;
}

.zdjecieRuch {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#szachownicaDiv {
  width: calc(var(--poleSzerokoscOrazWysokosc) * 8);
  height: calc(var(--poleSzerokoscOrazWysokosc) * 8);
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, var(--poleSzerokoscOrazWysokosc));
}

.polaPromocji {
  height: calc(var(--poleSzerokoscOrazWysokosc) * 1);
  opacity: 100% !important;
  z-index: 3;
}

.polaPromocji div {
  background-color: white;
}

.polaPromocji img {
  height: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
}
