.poleSzachownicy {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zdjecieFigura {
  height: 100px;
  z-index: 1;
}

.bialePole {
  background-color: gray;
}

.czarnePole {
  background-color: wheat;
}

.zdjecieRuch {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#szachownicaDiv {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  gap: 5px; 
}
