:root {
  --poleSzerokoscOrazWysokosc: 100px;
}

body{
  background-color: rgb(68, 68, 68);
}

.unFocused {
  opacity: 50%;
}

.obroc {
  transform: rotate(180deg);
  transform-origin: center center;
}

.poleSzachownicy, .polaPromocji div {
  position: relative;
  width: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
  height: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
  padding: 3px;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zdjecieFigura {
  height: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
  z-index: 1;
}

.bialePole {
  background-image: url("./public/assets/CPole.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.czarnePole {
  background-image: url("./public/assets/BPole.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.zdjecieRuch {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#szachownicaDiv {
  border: #ffcf57 8px solid;
  margin: 0 auto;
  margin-top: 50px;
  width: calc(var(--poleSzerokoscOrazWysokosc) * 8);
  height: calc(var(--poleSzerokoscOrazWysokosc) * 8);
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, var(--poleSzerokoscOrazWysokosc));
}

.polaPromocji {
  height: calc(var(--poleSzerokoscOrazWysokosc) * 1);
  opacity: 100% !important;
  z-index: 3;
}

.polaPromocji div {
  background-color: white;
}

.polaPromocji img {
  height: calc(var(--poleSzerokoscOrazWysokosc) - 6px);
}
